<div class="card">
    <div class="card-info">
        <span>{{card.name}}</span>
    </div>
    <div class="card-image-wrapper">
        <div class="card-image">
            <img ng-src="{{card.image || 'http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=' + card.id + '&type=card'}}" />
        </div>
        <span class="card-additional-info" ng-show="card.additionalInfo" ng-style="{ color: card.additionalInfoColor }">{{card.additionalInfo}}</span>
    </div>
    <div class="card-info card-price">
        <span>{{card.price | currency}}</span>
    </div>
    <div class="card-info card-qty">
        <span>Qtde: {{card.qty}}x</span>
    </div>
</div>